* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.instruct {
    position: absolute;
    font-family: 'Pokemon Fire Red';
    font-size: 40px;
    height: auto;
    width: auto;
    left: 30%;
    top: 8%;
    background-color: whitesmoke;
    text-align: center;
}

.enter {
    position: absolute;
    background-color: whitesmoke;
    font-family: 'Pokemon Fire Red';
    font-size: 40px;
    height: auto;
    padding: 0.5%;
    width: auto;
    left: 30%;
    top: 8%;
    text-align: center;
}